[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty  
[submodule "expedia"]
	path = expedia
	url = https://github.expedia.biz/efernandezbrei/dotfiles.git