[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "expedia/dotfiles"]
	path = expedia/dotfiles
	url = git@github.expedia.biz:efernandezbrei/dotfiles.git
